---
import Container from "@components/container.astro";
import Themetoggle from "@components/themetoggle.astro";
import Link from "@components/ui/link.astro";
// import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";

type MenuItem = {
  title: string;
  path: string;
  children?: MenuItem[];
};

const menuitems: MenuItem[] = [
  {
    title: "For Companies",
    path: "#",
  },
  {
    title: "Pricing",
    path: "/pricing",
  },
  {
    title: "About",
    path: "/about",
  },
];
---

<Container>
  <header class="my-5 flex flex-col items-center justify-between lg:flex-row">
    <Astronav>
      <div class="flex w-full items-center justify-between lg:w-auto">
        <a href="/" class="text-lg"
          ><span class="text-gray-500 dark:text-gray-100">Click</span><span class="font-bold text-gray-800 dark:text-gray-400">Job.AI</span>
        </a>

        <div class="flex items-center gap-2 lg:hidden">
          <Dropdown class="group relative">
            <button
              type="button"
              class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus:ring-ring flex h-10 items-center justify-between gap-2 rounded-md border px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              id="country">
              <img src="https://flagcdn.com/sk.svg" width="16" alt="Slovakia" />
              <!--
              <span style="pointer-events: none;">Slovakia</span> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-4 w-4 opacity-50 group-open:rotate-180"
                aria-hidden="true">
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </button>
            <DropdownItems>
              <div class="absolute right-0 top-full z-10 w-full min-w-32 origin-top-right">
                <div class="mt-2 flex flex-col gap-2 rounded-md border bg-white px-3 py-2 text-sm shadow dark:bg-gray-800">
                  <a href="#" class="flex items-center gap-2">
                    <img src="https://flagcdn.com/at.svg" width="16" alt="Austria" />
                    Austria</a
                  >
                  <a href="#" class="flex items-center gap-2">
                    <img src="https://flagcdn.com/pt.svg" width="16" alt="Slovakia" />
                    Portugal</a
                  >
                </div>
              </div>
            </DropdownItems>
          </Dropdown>

          <MenuIcon class="h-4 w-4 text-gray-800 dark:text-white" />
        </div>
      </div>
      <MenuItems class="mt-4 hidden lg:mt-0 lg:block">
        <div class="flex flex-col items-center gap-2 lg:flex-row lg:gap-4">
          <div class="min-w-max shrink-0"><a href="#">For Companies</a></div>
          <div class="hidden lg:block"><!-- spacer --></div>
          <div class="min-w-max shrink-0"><a href="#">Log in</a></div>
          <div class="flex min-w-max shrink-0"><Link href="#" size="md">Sign up</Link></div>
          <Dropdown class="group relative hidden lg:block">
            <button
              type="button"
              class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus:ring-ring flex h-10 items-center justify-between gap-2 rounded-md border px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              id="country">
              <img src="https://flagcdn.com/sk.svg" width="16" alt="Slovakia" />

              <span style="pointer-events: none;">Slovakia</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-4 w-4 opacity-50 group-open:rotate-180"
                aria-hidden="true">
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </button>
            <DropdownItems>
              <div class="z-10 w-full origin-top-left lg:absolute lg:left-0 lg:top-full lg:w-full">
                <div class="mt-2 flex flex-col gap-2 px-3 text-sm lg:rounded-md lg:border lg:bg-white lg:py-2 lg:shadow dark:bg-gray-800">
                  <a href="#" class="flex items-center gap-2">
                    <img src="https://flagcdn.com/at.svg" width="16" alt="Austria" />
                    Austria</a
                  >
                  <a href="#" class="flex items-center gap-2">
                    <img src="https://flagcdn.com/pt.svg" width="16" alt="Slovakia" />
                    Portugal</a
                  >
                </div>
              </div>
            </DropdownItems>
          </Dropdown>
          <Themetoggle class="hidden lg:block" />
        </div>
      </MenuItems>
    </Astronav>
  </header>
</Container>
