<footer class="my-20">
  <p class="text-center text-sm text-gray-500">
    Copyright © {new Date().getFullYear()} ClickJob.AI. All rights reserved.
  </p>

  <p class="mt-1 text-center text-xs text-gray-500">
    Frontend by <a href="https://web3templates.com" target="_blank" rel="noopener" class="hover:underline"> Web3Templates </a>
  </p>
</footer>
