---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="pt-16 pb-8 md:pt-12 md:pb-24">

  <div class="flex flex-col items-center">
    <h1
      class="text-5xl lg:text-6xl font-bold lg:tracking-tight xl:tracking-tighter text-center max-w-2xl">
      Intelligent Job Matching, Effortless Success
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl mx-auto text-center">
      ClickJob uses AI to match you with great job opportunities based on your skills and interests. Find your next role with ease.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3 justify-center">
      <Link
        href="#"
        href="https://web3templates.com/templates/ClickJob-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-file" />

         Upload your resume
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/ClickJob"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:search" />
        View Openings
      </Link>
    </div>
  </div>
</main>
