---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main class="my-10 md:my-16">
  <div class="flex flex-col items-center">
    <h1 class="max-w-2xl text-center text-3xl font-bold md:text-4xl lg:text-6xl lg:tracking-tight xl:tracking-tighter">
      Intelligent Job Matching, Effortless Success
    </h1>
    <p class="mx-auto mt-4 max-w-xl text-center text-lg text-gray-600">
      ClickJob uses AI to match you with great job opportunities based on your skills and interests. Find your next role with ease.
    </p>
    <div class="mt-6 flex flex-col justify-center gap-3 sm:flex-row">
      <Link
        href="#"
        href="https://web3templates.com/templates/ClickJob-starter-website-template-for-astro"
        target="_blank"
        class="flex items-center justify-center gap-1"
        rel="noopener">
        <Icon class="h-5 w-5 text-white" name="lucide:file-text" />

        Upload your resume
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/ClickJob"
        class="flex items-center justify-center gap-1"
        target="_blank">
        <Icon class="h-4 w-4 text-black" name="lucide:search" />
        View Openings
      </Link>
    </div>
  </div>
</main>
