---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<section>
  <h2 class="text-center text-gray-500">Companies that will move you forward</h2>
  <div class="mt-4 flex flex-wrap items-center justify-center gap-x-8 gap-y-3 lg:gap-16">
    <Icon class="h-12 w-24 opacity-50 grayscale transition-all hover:opacity-100 hover:grayscale-0" name="logos/freelo" />
    <Icon class="h-12 w-24 opacity-50 grayscale transition-all hover:opacity-100 hover:grayscale-0" name="logos/glami" />
    <Icon class="h-12 w-24 opacity-50 grayscale transition-all hover:opacity-100 hover:grayscale-0" name="logos/realiste" />
    <Icon class="h-12 w-24 opacity-50 grayscale transition-all hover:opacity-100 hover:grayscale-0" name="logos/fingood" />
    <Icon class="h-12 w-24 opacity-50 grayscale transition-all hover:opacity-100 hover:grayscale-0" name="logos/webglobe" />
    <Icon class="h-12 w-24 opacity-50 grayscale transition-all hover:opacity-100 hover:grayscale-0" name="logos/siemens" />
  </div>
</section>
