---
import { cx } from "@utils/all";

type Props = {
  variant?: "primary" | "secondary" | "outline" | "danger" | "warning" | "hotpink";
  class?: string;
};

const { variant = "primary", class: className }: Props = Astro.props;

const variantClasses = {
  primary: "bg-black text-white rounded-full",
  secondary: "bg-gray-200 text-black rounded-full",
  outline: "border border-gray-300 text-gray-700 rounded shadow-sm",
  danger: "bg-red-500 text-white rounded-full",
  warning: "bg-yellow-200 text-yellow-800 rounded-full",
  hotpink: "bg-fuchsia-200 text-fuchsia-800 rounded-full",
};

const variantClass = variantClasses[variant];
---

<span class:list={cx(variantClass, "px-2.5 py-1 font-stock text-xs font-medium", className)}>
  <slot />
</span>
