---
import { cx } from "@utils/all";
const { class: className } = Astro.props;
---

<div
  class:list={cx(
    "relative min-w-0 rounded-md border border-gray-200 px-4 py-3 shadow-sm transition-all lg:px-6 lg:py-4 dark:border-gray-700 dark:bg-transparent dark:text-gray-100 dark:hover:bg-gray-900 dark:hover:text-gray-100",
    className,
  )}>
  <slot />
</div>
